@charset "utf-8";

body {
    background-color: #EAEFEF;
    max-width: 1260px;
    margin: 50px auto;  /*全体上下に50px, 左右中央寄せ*/
    padding: 0 20px;    /*全体左右に20px*/ 
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: #333446;
}

main {
    width: 1000px;
    margin: 0 auto;
}

#playArea {
    background-color: #000;
    height: 500px;
    position: relative;
}

#correct {
    display: none;
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
}

.message {
    display: flex;
    text-align: center;
    margin-bottom: 0.5em;
}
#target, #result {
    width: 50%;
}
#result {
    color: red;
}
footer {
    text-align: center;
}