@charset "utf-8";

main,
#next,
#result {
    display: none;
}

footer {
    position: fixed; bottom: 1em; left: 1em;
}

/* 回答時のスタイル変更 */
.correct { color: red;}
.false {text-decoration: line-through;}