#top {
    text-align: center;
}
#selectMode li{
    list-style-type: none;
    width: 200px;
    margin: 30px auto;
}
#selectMode li:hover{
    filter: brightness(95%);
}
#selectMode li:first-child {
    background-color: greenyellow;
}
#selectMode li:nth-child(2) {
    background-color: skyblue;
}
#selectMode li:last-child {
    background-color: pink;
}

#game {
    display: none;
    margin-top: 100px;
    justify-content: center;
    gap: 50px;
}
#time {
    display: none;
}
#returnTop {
    display: none;
}
.row {
    display: flex;
}
.box {
    background-color: #bbb;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}
.box span {
    display: block;
    width: 30px;
    height: 30px;
}
.open, .hint {
    background-color: gray;
}
.flag {
    content: url(flag_white_sankaku1.png);
}
.hint {
    border: 1px solid yellow
}
.flagOn {
    background-color: yellow;
}
.hintOn {
    background-color: yellow;
}
.noHint {
    background-color: gray;
}
.open .mine,
.hint .mine {
    content: url(bakudan.png);
}
.open span::after,
.hint span::after {
    margin: 10px;
}
.open .aroundMine1::after,
.hint .aroundMine1::after {
    content: "1";
    color: skyblue;
}
.open .aroundMine2::after,
.hint .aroundMine2::after {
    content: "2";
    color: lawngreen;
}
.open .aroundMine3::after,
.hint .aroundMine3::after {
    content: "3";
    color: red;
}
.open .aroundMine4::after,
.hint .aroundMine4::after {
    content: "4";
    color: yellow ;
}
.open .aroundMine5::after,
.hint .aroundMine5::after {
    content: "5";
    color: orange;
}
.open .aroundMine6::after,
.hint .aroundMine6::after {
    content: "6";
    color: purple;
}
.open .aroundMine7::after,
.hint .aroundMine7::after {
    content: "7";
    color: brown;
}
.open .aroundMine8::after,
.hint .aroundMine8::after {
    content: "8";
    color: white;
}

#buttons img{
    width: 50px;
    height: 50px;
}
#restHint {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
}
#restHint li img {
    height: 40px;
}